* {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*header*/

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
    max-width: 1300px;
    height: 100%;
    min-height: 80px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;    
    background-color: #213B7E;    
    margin:0 auto;
    padding:0 15px;
    justify-content: space-between;
    align-items: center;
}

.logo-site { 
    width: 47px;
    height: 47px;
}

.navigation {
    display: flex;
    align-self: stretch;    
}

.menu-site {
    display: flex;
    flex-wrap: wrap;
    margin: 0;    
    padding: 0;
    align-self: stretch;   
    list-style: none;       
}

.menu-site > li {
    display: flex;
    flex-wrap: wrap;
}

.menu-link {
    display: flex;  
    margin: 0;
    padding: 15px;
    color:#FFFFFF;
    background-color: #213B7E;    
    font-size: 20px;
    align-items: center;
    text-decoration-line: underline;
}

.menu-link:hover {
    display: flex;
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.login-button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 153px;    
    min-height: 50px;
    color:#FFFFFF;
    background-color: #EA5D21;
    text-decoration: none;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

/*main*/

.main {    
    width: 100%;
    max-width: 941px;
    height: auto;
    margin: 0 auto;
    flex-grow: 1;
    padding: 0 15px;       
}

.main-heading {
    margin-top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.foto-zal {
    width: 100%;
    max-width: 523px;
    height: auto;    
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.text {
    width: 100%;
    max-width: 634px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.em {
    color: #EA5D21;
}

.deviz { 
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 129px;      
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #646464;     
}

/*students*/

.main-students {
    width: 100%;
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
    flex-grow: 1;
    padding: 0 15px;
}

.students {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    padding: 0;    
}

.student {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;       
}

.foto-student {
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 270px;
}

.name-student {
    text-align: center;
    margin: 0;
}

/*about*/

.main-about {
    width: 100%;
    max-width: 850px;
    height: auto;
    margin: 0 auto;
    flex-grow: 1;
    padding: 0 15px; 
}

.video {
    width: 100%;
    max-width: 820px;
    height: auto;
}

/*contacts*/

.main-contacts {
    width: 100%;
    max-width: 1298px;
    height: auto;
    margin: 0 auto;
    flex-grow: 1;
    padding: 0 15px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    max-width: 1268px;
    height: auto;
}

.text-contact {
    width: 100%;
    max-width: 439px;       
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
}

/*Golysheva*/

.main-golysheva {
    display: flex;    
    font-family: caveat;  
    font-size: 35px;
    color: #646464;
    padding: 0 15px;
}

.trevel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.trevel-logo {
    width: 40px;
    height: 40px;
}

.ya {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
}

.foto {
    display: flex;
    width: 40%;
    object-fit: contain;        
}

.obomne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 0 50px;
}

.osnovnoe {
    display: flex;
    justify-content: center;
    font-family: roboto;    
    font-weight: 400;
    font-size: 20px;
    color: #213B7E;    
}

.inform {
    display: flex;
    justify-content: center;
    font-family: caveat;
    font-weight: 400;
    font-size: 40px;
    color: #c7d410;
}

.my {
    font-family: caveat;    
    font-weight: 400;
    font-size: 30px;
    color: #c7d410;
    text-align: center;
}

.icon {
    display: flex;            
    justify-content: center;    
    width: 45px;
    height: 45px;        
}

.icon:hover {
    display: flex;
    background-color: #EA5D21;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;    
   }

.opros {
    font-family: lobster;    
    font-weight: 400;
    font-size: 15px;
    color: #646464;    
}   

fieldset {    
    width: max-content;
    height: 100%;
    max-height: 100px;    
    text-align: center;    
    margin: 20px;          
} 

.forma {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;        
}

legend {
    text-align: center;
    color: #213B7E;
}

.mechta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;    
    width: 100%;
    margin-bottom: 25px;
}

.z {
    display: flex;
    width: 100%;
    max-width: 1100px;
    align-items: stretch;
    justify-content: space-around;
}

.puti {
    width: 100%;
    object-fit: contain;
    box-shadow: 0 5px 10px 0px #808080;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.ssulka {
    text-align: center;    
}

.foto_2 {
    display: flex;         
    width: 65%;                  
    object-fit: contain;        
}

.blits {
    display: flex;   
    margin: auto;    
    width: 100%;
    max-width: 400px;    
    padding: 6px 28px 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

label {
    font-family: 'Roboto';
    font-size: 15px;
    color: #213B7E;
}

.blits-form {
    text-align: center;
}

.blits-form>input {
    width: 100%;    
    min-height: 40px;
    margin-bottom: 20px;
    border: 1px solid #808080;
}

.blits-name {
    font-family:'Roboto';
    font-weight: 400;     
    color: #808080;
    padding: 10px;
}

.blits-dream {      
    font-family:'Roboto';
    font-weight: 400;      
    color: #808080;
    padding: 10px;    
}

.blits-button {    
    width: 150px;
    min-height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA5D21;    
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0px #808080;
}   

/*footer*/

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;        
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;    
}

.copy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.5);
}

.innopolis-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.5);
}

/*popup*/

.login-popup {
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 50%;           
    transform: translate(-50%,-68%);
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 50px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.login-heading {
    display: flex;
    justify-content: center;    
}

.login-form {
    text-align: center;
}

.login-form>input {
    width: 100%;    
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.login-input {
    font-family:'Roboto';
    font-weight: 400;      
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;    
}

.login-password {      
    font-family:'Roboto';
    font-weight: 400;      
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;    
}

.popup-button {    
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA5D21;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.button-close {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    max-width: 100%;
    width: 20px;    
    cursor: pointer;
    color: #EA5D21;
    background-color: #FFFFFF;
    font-size: 18px;
    box-shadow: 0 5px 5px 0 #808080;
}

.show-popup {
    display: block;
}


/*media*/

@media (max-width: 480px) {
    .header {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 15px;    
    }

    .logo-site {
        margin-bottom: 10px;
    }
        
    .menu-site {
        flex-direction: column;
        flex-wrap: nowrap;        
    } 
    
    .login-popup {
        top: 70%;
    }  
     
    .mechta {
        display: block;
     }
     
     .foto {
         width: 100%;
     }
 
     .foto_2 {
         width: 100%;        
     }
     
     .text {
         width: 100%;
         font-size: 15px;
     }
 
     .opros {
         margin: 0;
     }     
 }
 
@media (max-width: 740px) {
    .header {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 15px;    
    }

    .navigation {
        align-self: center;
        padding: 5px 0 5px 0;        
    }

    .menu-link {
        font-size: 16px;
    }

    .ya {
        flex-direction: column;
    }
    
    .menu-site {        
        flex-wrap: nowrap;        
    }
    
    .obomne {
        padding: 0 15px;
        width: 100%;
    }

    .z {
        padding: 0 15px;
    }

    .foto {
        width: 80%;
        padding: 0 20px;
        align-self: center;
    }

    .foto_2 {
        padding: 0 15px;
    }    
}

@media (max-width: 1080px) {
    .students {
        flex-direction: column;
        text-align: center;       
     }
}   


    




    


    























